@font-face {
  font-family: "iconfont"; /* Project id 2729952 */
  src: url('iconfont.woff2?t=1628411401807') format('woff2'),
       url('iconfont.woff?t=1628411401807') format('woff'),
       url('iconfont.ttf?t=1628411401807') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-like_fill:before {
  content: "\e707";
}

.icon-like:before {
  content: "\e708";
}

.icon-mine:before {
  content: "\e70e";
}

.icon-narrow:before {
  content: "\e711";
}

.icon-picture:before {
  content: "\e716";
}

.icon-qrcode_fill:before {
  content: "\e71c";
}

.icon-qrcode:before {
  content: "\e71d";
}

.icon-refresh:before {
  content: "\e71e";
}

.icon-scan:before {
  content: "\e722";
}

.icon-setup:before {
  content: "\e728";
}

.icon-share_fill:before {
  content: "\e729";
}

.icon-share:before {
  content: "\e72a";
}

.icon-switch:before {
  content: "\e72e";
}

.icon-time_fill:before {
  content: "\e735";
}

.icon-undo:before {
  content: "\e739";
}

.icon-add:before {
  content: "\e664";
}

.icon-add-circle:before {
  content: "\e665";
}

.icon-adjust:before {
  content: "\e666";
}

.icon-arrow-down:before {
  content: "\e667";
}

.icon-ashbin:before {
  content: "\e668";
}

.icon-bad:before {
  content: "\e669";
}

.icon-chart-bar:before {
  content: "\e66a";
}

.icon-code:before {
  content: "\e66b";
}

.icon-close:before {
  content: "\e66c";
}

.icon-check-item:before {
  content: "\e66d";
}

.icon-calendar:before {
  content: "\e66e";
}

.icon-data-view:before {
  content: "\e66f";
}

.icon-direction-right:before {
  content: "\e670";
}

.icon-direction-up:before {
  content: "\e671";
}

.icon-direction-left:before {
  content: "\e672";
}

.icon-download:before {
  content: "\e673";
}

.icon-elipsis:before {
  content: "\e674";
}

.icon-explain:before {
  content: "\e675";
}

.icon-eye-close:before {
  content: "\e676";
}

.icon-email:before {
  content: "\e677";
}

.icon-error:before {
  content: "\e678";
}

.icon-favorite:before {
  content: "\e679";
}

.icon-file-common:before {
  content: "\e67a";
}

.icon-fabulous:before {
  content: "\e67b";
}

.icon-good:before {
  content: "\e67c";
}

.icon-toggle-left:before {
  content: "\e680";
}

.icon-toggle-right:before {
  content: "\e681";
}

.icon-warning:before {
  content: "\e682";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-up-bold:before {
  content: "\e686";
}

.icon-close-bold:before {
  content: "\e687";
}

.icon-arrow-down-bold:before {
  content: "\e688";
}

.icon-select-bold:before {
  content: "\e689";
}

.icon-arrow-up-filling:before {
  content: "\e68a";
}

.icon-arrow-down-filling:before {
  content: "\e68b";
}

.icon-arrow-left-filling:before {
  content: "\e68c";
}

.icon-arrow-right-filling:before {
  content: "\e68d";
}

.icon-dynamic-filling:before {
  content: "\e68e";
}

.icon-picture-filling:before {
  content: "\e68f";
}

.icon-activity:before {
  content: "\e79e";
}

.icon-loader:before {
  content: "\e7b6";
}

.icon-meihua:before {
  content: "\e602";
}

.icon-enter:before {
  content: "\e601";
}

