/*
  代码格式化工具配置
  # 格式化所有文件（. 表示所有文件）
npx prettier --write .

*/
{
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "semi": false
}
